form textarea {
  resize: none;
}

.row > div {
  background: darkorange;
  text-shadow: 2px 2px 4px #000000;
  color: white;

}

.box {
  box-shadow: rgba(0, 0, 0, 0.75) 6px 22px 31px 0px;
  background-color: rgb(231, 166, 26);
}
