@media (min-width:992px) {
  img:hover {
    transform: scale(1.1);
    transition: all 1s ease-out;
  }

  img {
    transition: all 1s ease-out;
    transform: scale(1);
  }

  .item-content {
    height: 350px;
  }
}

.item-content {
  overflow: hidden;
  height: 350px;
  background-color: black;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  &--img {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }



  &--card-text {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: aliceblue;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &--toggle-state {
    position: absolute;
    z-index: 1;
    cursor: pointer;

    &--img {
      cursor: pointer;
      position: absolute;
      top: -350px;
    }
  }
}
#home-text-place-holder p{
  direction: ltr !important;;
}



.item-wrp {
  border-radius: 5px;
  margin-top: 30px;
}

.item-caption {
  background-color: black;
  margin-top: 2px;
  height: 35px;
}

.home-page-text {
  font-size: larger;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
  background: #f0f9ff; /* Old browsers */
  background: radial-gradient(ellipse at center, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 3em 1em;
  font-family:'Rubik' !important;
}
