.mnu-wrp{
  height: 100vh;

  background-image: url("http://res.cloudinary.com/lior/image/upload/v1468953847/home_pic.jpg");
  background-size: cover;
  background-size: 100% 100%;
  //border: solid;
}

.mnu-title{
  color: #cde9fc;
  font-size: 3vw!important;
}